.wrapper {
    min-height: 60vh;
    overflow: hidden;
}
.tab-name {
    background: #323232;
    color: var(--ifm-color-primary-darker);
    padding: 12px 16px;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover,
    &.active {
        background: #32323232;
    }
}

.content {
    padding: 16px;
    height: 100%;
}

.line-bottom {
    transition: all 0.5s ease;
}
