.wrapper {
  width: 100%;
  border-radius: 8px;
}

<<<<<<< Updated upstream
.card {
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    position: relative;
    max-width: 100%;
    height: 270px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;

    &:hover {
        height: 450px;

        .content {
            visibility: visible;
            opacity: 1;
            margin-top: -40px;
            transition-delay: 0.3s;
        }
    }
}

.image-container {
    width: 290px;
    height: 290px;
    position: relative;
    top: -60px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: visible;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.title {
}

.description {
=======
.inner {
  border: 1px solid rgba(97, 97, 97, 0.1);
  border-radius: 8px;
  position: relative;
}

.image-container {
  width: 100%;
  height: 200px;
  border-radius: inherit;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.title-main {
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.9px;
}

.infomation {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.64px;
}

.infomation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infomation-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.infomation-icon {
  font-size: 20px;
}

.infomation-content {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.78px;
  font-weight: 300;
>>>>>>> Stashed changes
}
